.background{
background-image: url(https://th.bing.com/th/id/R.d066c171aaf81e7b52360864f00f0293?rik=tee214q6eLQuTw&pid=ImgRaw&r=0);
 background-size: cover;
 background-position: center;
 min-height: 60vh;
 
}

.form-color{
    background-color: rgba(240, 248, 255, 0.89);
}

.banner-text{
    margin-top: 10rem;
    font-size: 40px;
    text-shadow:0 0 10px rgba(8, 8, 8, 0.733);
    color: rgb(255, 255, 255);  
    text-align: left;

}
.place-holder{
    height: 650px;
    width: 475px;
    border-radius: 8px;

}
.card-drop{
    transform: translateY(50%);
}

.card-dim{
    width: 550px;
    height: 300px;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .card-drop{
        transform: translateY(0);
    }
    
}
.font{
font-family: 'Roboto Condensed', sans-serif;
font-weight: 600;
}

.color-scheme-mid{
    background-color: hsl(180, 15%, 18%);
}
.color-scheme-light{
     background-color: hsl(180, 73%, 90%);

}

.three-card-dim{
    height: 250px;
    width: 283px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.emp-card{
    height: 300px;
    min-width: 325px;
    
    
}

.social-img{
    width: 120px;
    height: 120px;
}

.custom-margin{
 margin-top: 10rem;
 margin-bottom: 10rem;
 border-radius: 8px;
}

.special-font{
font-family: 'Nunito Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto Condensed', sans-serif;
}